/* #Login__parent {
    display: flex;
    height: 30px;
    width: 30px;
    background-color: grey;

}
.Login__input {

}
.Login__btn {
   height: 30px;
   width: 65px;
   background-color: rgba(49, 49, 252, 0.829);
} */