@media only screen and (max-width: 900px) {
    .mobile {
        display: block !important;
    }
    .title {
        margin-top: 100px !important;
    }
    .mobileForm {
        display: block !important;
    }
    .form1 {
        border-right: 0px !important;
    }
    .form2 {
        padding-bottom: 9% !important;
    }
    .col-sm-6 {
        max-width: 100% !important;
    }

}